
<div class= col-xs-offset-4>
<h1>配送先編集</h1>
<table>

<%= form_for(@address) do |f| %>
<tr>
 <th>郵便番号（ハイフンなし）</th>
   <td><%= f.number_field :pastal_code %></td>

 </tr>
<tr>
 <th>住所</th>
   <td><%= f.text_field :address, class: "col-xs-20" %></td>
 
</tr>
<tr>
 <th>宛名</th>
   <td><%= f.text_field :name %> </td>    
 
</tr>
 <tr>
   <td><%= f.submit "編集する", class: "btn btn-info" %></td>
 </tr>
<% end %>
</table>
</div>
