<h2>ジャンル編集</h2>

<%= form_for(@genre, url: edit_admins_genre_path) do |f| %>
<h4>ジャンル</h4>
	<%= f.text_field :name %>
	<%= f.radio_button :is_valid, true %>
	<%= f.label :is_valid, "有効" %>
	<%= f.radio_button :is_valid, false %>
	<%= f.label :is_valid, "無効" %>
	<%= f.submit "変更を保存する" %>
<% end %>