<h2>ジャンル一覧</h2>

<%= form_for(@genre, url: admins_genres_path) do |f| %>
  <h4>ジャンル</h4>
	<%= f.text_field :name %>
	<%= f.radio_button :is_valid, true %>
	<%= f.label :is_valid, "有効" %>
	<%= f.radio_button :is_valid, false %>
	<%= f.label :is_valid, "無効" %>
	<%= f.submit "追加" %>
<% end %>

<% @genres.each do |genre| %>
  <h4>ジャンル</h4>
  <%= genre.name %>
  <h4>状態</h4>

  <% if genre.is_valid == true %>
    <%= "有効" %>
  <% else %>
    <%= "無効" %>
  <% end %>
  <%= link_to "編集する", edit_admins_genre_path(genre.id) %>
<% end %>