<!-- 会員一覧ページ -->

<h2>会員一覧</h2>

<div class="col-xs-12">
  <table>
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
        <% @members.each do |member| %>
        <tr>
          <td>
            <%= member.id %>
          </td>

          <td>
            <%= link_to member.family_name + member.first_name, admins_member_path(member.id)%>
          </td>

          <td>
            <%= member.email %>
          </td>

          <td>
        	  <% if member.is_valid == true %>
        	    <%= "有効" %>
        	  <% else %>
        	    <%= "退会済" %>
        	  <% end %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>