<!-- 会員情報詳細ページ -->
<div class="container">
	<div class="row">
		<div class="col-xs-8">
          <h2><%= @member.family_name + @member.first_name %>さんの会員詳細</h2>
          <table>
          	<thead>
          		<tbody>
          			<tr>
					<th>顧客ID</th>
					    <td>
					      <%= @member.id %>
					      <div class="btn btn-sm btn-primary">
							  <% if @member.is_valid == true %>
							    <%= "有効会員" %>
							  <% else %>
							    <%= "退会済" %>
							  <% end %>
						  </div>
						</td>
					</tr>
					<tr>
					<th>氏名</th>
						<td>
						  <%= @member.family_name + @member.first_name %>
						</td>
				    </tr>
				    <tr>
					<th>フリガナ</th>
						<td>
						  <%= @member.family_name_kana + @member.first_name_kana %>
						</td>
					</tr>
					<tr>
					<th>郵便番号</th>
						<td>
						  <%= @member.postal_code %>
						</td>
				    </tr>
				    <tr>
					<th>住所</th>
						<td>
						  <%= @member.address %>
						</td>
				    </tr>
				    <tr>
					<th>電話番号</th>
						<td>
						  <%= @member.tel %>
						</td>
				    </tr>
				    <tr>
					<th>メールアドレス</th>
						<td>
						  <%= @member.email %>
						</td>
				    </tr>
				    <tr>
				    	<td>
					      <%= link_to "編集する", edit_admins_member_path, class: "btn btn-sm btn-primary" %>
					      <%= link_to "注文履歴一覧", admins_orders_path, class: "btn btn-sm btn-primary" %>
					    </td>
					</tr>
				</tbody>
			</thead>
		</table>
	</div>
</div>