<div class = "container confirm">
	<h2>注文情報確認<h2>

	<%= form_with(model: @order, local: true) do |form| %>
    	<div class = "col col-xs-8">
    		<table border = "1" width = "700" height = "100">
	    		<thead>
		  			<tr>
						<th width="55%" height="50" bgcolor="#EEEEEE">商品名</th>
						<th width="25%" bgcolor="#EEEEEE">単価（税込）</th>
						<th width="25%" bgcolor="#EEEEEE">数量</th>
						<th width="25%" bgcolor="#EEEEEE">小計</th>
					</tr>
				</thead>

				<tbody>
					<% sum = 0 %>
					<% @cart_items.each do |cart_item| %>
						<tr>
							<!-- 商品名（+商品画像）の表示 -->
							<td>
								<%= attachment_image_tag(cart_item.product,
								:image, :size => "60x60", fallback: "no_image.jpg") %>
								<%= cart_item.product.name %>
							</td>
							<!-- ---------------------- -->

							<!-- 単価（税込み）の表示 -->
							<td>
								<% zeikomi = cart_item.product.price * 1.08 %>
								<%= zeikomi %>
							</td>
							<!-- ------------------ -->

							<!-- 数量の表示 -->
							<td>
								<%= cart_item.quantity %>
							</td>
							<!-- --------- -->

							<!-- 小計の表示 -->
							<td>
								<% syoukei = zeikomi * cart_item.quantity %>
								<%= syoukei %>
							</td>
							<!-- --------- -->
						</tr>
						<% sum = sum + syoukei %>
					<% end %>
				</tbody>
			</table>
		</div>

		<div class = "col col-xs-4">
	    	<table border="1" width="700" height="100">
				<tbody>
					<tr>
			  			<td width = "25%" bgcolor="#EEEEEE">送料</td>
						<td><%= @order.postage %>円</td>
			  			<td width = "30%" bgcolor="#EEEEEE">商品合計</td>
						<td><%= sum %>円</td>
			  			<td width = "30%" bgcolor="#EEEEEE">請求金額</td>
						<td>
							<% @order.all_price = sum + @order.postage %>
							<%= @order.all_price %>円
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class = "container">
			<div class = "row">
				<div class = "col col-xs-8">
					<h3>支払い方法</h3>
						<%= render 'orders/pay_method', order: @order %>
					<h3>お届け先</h3>
					<%= @order_postal_code %><br>
					<%= @order.address + " " %>
					<%= @order.name %>

					<%= form.hidden_field :member_id, :value => current_member.id %>
					<%= form.hidden_field :postal_code, :value => "#{@order_postal_code}" %>
					<%= form.hidden_field :address, :value => "#{@order.address}" %>
					<%= form.hidden_field :name, :value => "#{@order.name}" %>
					<%= form.hidden_field :all_price, :value => "#{@order.all_price}" %>

					<%= form.hidden_field :pay_method, :value => "#{@order.pay_method}"  %>
					<%= hidden_field_tag :flag, @flag %>
				</div>
			</div>
		</div>

		<div style="text-align: center">
	  		<%= form.submit "購入を確定する", class: "btn btn-success btn-lg col-xs-3" %>
		</div>
  	<% end %>
</div>