<h2>注文履歴詳細</h2>

<div class="col-xs-3">
 <p>注文情報</p>
  <table class="table tabel-bordered">
 	<tr>
 		<td>注文日</td>
 		<td><%= @order.created_at %></td>
 	</tr>
 	<tr>
 		<td>配送先</td>
 		<td>
 			<%= @order.postal_code %>
 			<%= @order.address %>
 			<%= @order.name %>
 		</td>
 	</tr>
 	<tr>
 		<td>支払い方法</td>
 		<td><%= @order.pay_method %></td>
 	</tr>
 	<tr>
 		<td>ステータス</td>
 		<td><%= @order.order_status %></td>
 	</tr>
  </table>
</div>

<div class="col-xs-9">
 <p>請求情報</p>
  <table class="table tabel-bordered">
 	<tr>
 		<td>商品合計</td>
 		<td><%= number_to_currency(@order.all_price, :unit=>"", :precision => 0) %></td>
 	</tr>
 	<tr>
 		<td>配送料</td>
 		<td><%= number_to_currency(@postage, :unit =>"", :precision => 0) %></td>
 	</tr>
 	<tr>
 		<td>ご請求額</td>
 		<% bill = @order.all_price * @order.postage %>
 		<td><%= number_to_currency(bill, :unit =>"", :precision => 0) %></td>
 	</tr>
  </table>
</div>

<div class="col-xs-11">
 <p>注文商品</p>
 <table class="table table-bordered">
 	<thead>
 		<tr>
 			<th>商品</th>
 			<th>単価(税込)</th>
 			<th>個数</th>
 			<th>小計</th>
 		</tr>
 	</thead>
 	<tbody>
 		<tr>
 			<% @order.orders_items.each do |order| %>
 			<td><%= order_item.product.name %></td>
 			<td><%= number_to_currency(order_item.tax_price, :unit =>"", :precision => 0) %></td>
 			<td><%= order_item.quantity %></td>
 			<td>
 				<% sub_total = order_item.tax_price * order_item.quantity %>
 				<%= number_to_currency(sub_total, :unit =>"", :precision => 0) %>
 			</td>
 			<% end %>
 		</tr>
 	</tbody>
 </table>
</div>