<!-- 商品新規登録ページ -->
<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<h2>商品新規登録</h2>
			<%= form_for(@product, url: new_admins_product_path) do |f| %>
				<table>
					<thead>
						<tbody>
							<tr>
								<th>商品画像</th>
								<td>
								  <%= f.attachment_field :image %>
							    </td>
							</tr>
				        </tbody>
				    </thead>
				</table>
			<% end %>
		</div>

	<div class="col-xs-8">
		<div class="row">
			<%= form_for(@product, url: new_admins_product_path) do |f| %>
				<table>
					<thead>
						<tbody>
							<tr>
								<th>商品名</th>
								<td>
								  <%= f.text_field :name %>
							    </td>
							</tr>
							<tr>
								<th>商品説明</th>
								<td>
								  <%= f.text_area :introduction %>
							    </td>
							</tr>
							<tr>
								<th>ジャンル</th>
							<!-- boolean -->
							    <td>
							      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--" %>
							    </td>
							</tr>
							<tr>
								<th>税抜価格</th>
								<td>
								  <%= f.text_field :price %>
							    </td>
							</tr>
							<tr>
								<th>販売ステータス</th>
							<!-- boolean -->
							    <td>
							      <%= f.select :is_sale, [["販売中", true ], ["販売停止中", false ]], include_blank: "--選択してください--" %>
							    </td>
							</tr>
							<tr>
								<td>
								  <%= f.submit '新規登録', class: "btn btn-sm btn-primary" %>
							    </td>
							</tr>
				        </tbody>
				    </thead>
				</table>
				<% end %>
			</div>
		</div>
	</div>
</div>
