<div class="col-xs-3">
 <h4>ジャンル検索</h4>

</div>

<div class="col-xs-9">
	<h1>商品一覧</h1>
      <%= attachment_image_tag @product, :image, :fill, 40, 40, format: 'jpeg', class: "img-rounded pull-left",fallback: "no_image.jpg",size:"50x50" %>
      <%= @product.name %>
      <%= @product.introduction %>
      ¥<%= @product.price %>(税込)

      個数選択
      <%= link_to 'カートに入れる', method: :post, class: "btn btn-primary" %>
</div>