<div class="col-xs-3">
 <!--ジャンル一覧の表示→各ジャンルへ移動-->
 <table class="table table-bordered">
  <thead>
    <tr>
     <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
       <%= link_to '全ての商品', products_path %>
      </td>
       <% @genres.each do |genre| %>
        <td>
        <%= link_to products_path(genre_id: genre.id) do %>
        <%= genre.name %>
        <% end %>
        </td>
       <% end %>
    </tr>
  </tbody>
 </table>
</div>

<div class="col-xs-9">
      <%= attachment_image_tag @product, :image, :fill, 40, 40, format: 'jpeg', class: "img-rounded pull-left",fallback: "no_image.jpg",size:"50x50" %>
      <h1>
      	<%= @product.name %>
      </h1>
      <%= @product.introduction %>
      <!--税込み価格の算出-->
      <% tax_price = @product.price * 1.08 %>
      <%= number_to_currency(tax_price, :unit => "¥", :precision => 0) %>(税込)

      <!--カートに入れる-->
      <%= form_for @cart_item do |f| %>
      <%= f.hidden_field :product_id, :value => @product.id %>
      <%= f.number_field :quantity, min: 1 %>
      <%= f.submit 'カートに入れる', method: :post, class: "btn btn-primary" %>
      <% end %>
</div>