<!-- 注文詳細ページ -->
<h2>注文履歴詳細</h2>

<!-- 購入者情報 -->
<h4>購入者</h4>
<%= Member.find_by(id: @order.member_id).family_name %>
<%= Member.find_by(id: @order.member_id).first_name %>

<h4>配送先</h4>
<%= Address.find_by(id: @order.member_id).pastal_code %>
<%= Address.find_by(id: @order.member_id).address %>
<%= Address.find_by(id: @order.member_id).name %>

<h4>支払方法</h4>
<% if @order.pay_method == 0 %>
  <p>クレジットカード</p>
<% else %>
  <p>銀行振込</p>
<% end %>

<h4>注文ステータス</h4>
<%= form_for(@order, url:admins_order_path(@order.id)) do |f| %>
	<%= f.select :order_status, Order.order_statuses.keys %>
	<%= f.submit "更新" %>
<% end %>

<!-- テーブル -->
<div class="col-xs-12">
	<table>
		<thead>
			<tr>
				<th>商品名</th>
				<th>単価（税込）</th>
				<th>数量</th>
				<th>小計</th>
				<th>製作ステータス</th>
				<th></th>
			</tr>
		</thead>
		<tbody>