<div class="container">
	<div class="row">
	 <h4>マイページ</h4>
	  <div class="col-xs-4"><strong>登録情報</strong></div>
	   <div class="col-xs-4 member-botton">
	 	<%= link_to '編集する',edit_member_path(@member), class: "btn btn-primary" %>
	 	<%= link_to 'パスワードを変更する',edit_member_registration_path(@member), class: "btn btn-primary" %>
	   </div>

    <div class="col-xs-8">
	  <table class="table table-bordered">
	  	<tr>
			<td bgcolor="#e6e6e6">氏名</td>
			<td><%= @member.family_name %> <%= @member.first_name %></td>
		</tr>
	  	<tr>
			<td bgcolor="#e6e6e6">カナ</td>
			<td><%= @member.family_name_kana %><%= @member.first_name_kana %></td>
		</tr>
	  	<tr>
			<td bgcolor="#e6e6e6">郵便番号</td>
			<td><%= @member.postal_code %></td>
		</tr>
	  	<tr>
			<td bgcolor="#e6e6e6">住所</td>
			<td><%= @member.address %></td>
		</tr>
		<tr>
			<td bgcolor="#e6e6e6">電話番号</td>
			<td><%= @member.tel %></td>
		</tr>
	  	<tr>
			<td bgcolor="#e6e6e6">メールアドレス</td>
			<td><%= @member.email %></td>
		</tr>
	  </table>
	</div>

    <div class="col-xs-12">
	  <div class="col-xs-8 member-botton">
	  	<div class="col-xs-4">配送先</div>
	  <%= link_to '一覧を見る', address_index_path, class: "btn btn-primary" %>
	  </div>
	  <br>
	  <div class="col-xs-8 member-botton">
	  	<div class="col-xs-4">注文履歴</div>
	  <%= link_to '一覧を見る', orders_path, class: "btn btn-primary" %>
	  </div>
	</div>
 </div>
</div>